.rabbit {
  width: 102px;
  height: 80px;
  background-repeat: no-repeat;
  position: absolute;
  left: 100px;
}
#rabbit1{
  top: 50px;
}
#rabbit2{
  top: 200px;
}
#rabbit3{
  top: 350px;
}
#rabbit4{
  top: 500px;
}